html {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
    margin-top: 40px;
    overflow: hidden;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #e4e4e4;
  border-top-width: 2px;
  border-top-color: #000;
}

.full-height {
  height: 100%;
}

.page-bottom-padding {
  padding-bottom: 110px;
}

footer .container {
  padding: 20px;
}

.noscroll {
  position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.container {
  height: 100%;
}

.set-scroll {
  overflow-y: auto;
  height: 100%;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.chat-text-input {
  margin-top: -96px;
}

.bottom-padding {
  padding-bottom: 98px;
}
  /* Let's get this party started */

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0,0,0,0.2); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0,0,0,0.2); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.9); 
}


/*chat bubbles*/

.green-sea {
    background-color: #16a085;
}
.nephritis {
    background-color: #27ae60;
}
.belize-hole {
    background-color: #3498db;
}
.wisteria {
    background-color: #8e44ad;
}
.midnight-blue {
    background-color: #2c3e50;
}
.orange {
    background-color: #f39c12;
}
.pumpkin {
    background-color: #d35400;
}
.pomegranate {
    background-color: #c0392b;
}
.silver {
    background-color: #bdc3c7;
}
.asbestos {
    background-color: #7f8c8d;
}
